<!-- // create a navbar with a logo image, title -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="navbar-brand mb-0 h1">Quniela</span>
    </a>
<!-- //create Equipos button  -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" routerLink="/equipos">Equipos</a>
        </div>
    </div>

<!-- //create navbar items register and login aligned to the right -->
    <div class="d-flex justify-content-end">
        <a class="nav-item nav-link p-2 active" routerLink="/register">Register</a>
        <a class="nav-item nav-link p-2 active" routerLink="/login">Login</a>
    </div>
</nav>












